{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Add To Group{% endblock %}

{% block content %}
    <h2>Add To Group</h2>
    <br>
{#    <div class="pa4">#}
{#        <div class="overflow-auto">#}
{#            <table class="f6 w-100 mw8 center" cellspacing="0">#}
{#                <thead>#}
{#                <tr class="stripe-dark">#}
{#                    <th class="fw6 tl pa3 bg-white"><h5>Current members</h5></th>#}
{#                </tr>#}
{#                </thead>#}
{#                <tbody class="lh-copy">#}
{#                {% for member in members %}#}
{#                    <tr class="stripe-dark">#}
{#                        <td class="pa3">{{ member }}</td>#}
{#                    </tr>#}
{#                {% endfor %}#}
{#                </tbody>#}
{#            </table>#}
{#        </div>#}
{#    </div>#}
    <div class="pa4">
        <div class="overflow-auto">
            <table class="f6 w-100 mw8 center" cellspacing="0">
                <thead>
                <tr class="stripe-dark">
                    <th class="fw6 tl pa3 bg-white"><h5>Available Users</h5></th>
                </tr>
                </thead>
                <tbody class="lh-copy">
                {% for user in users %}
                    <tr class="stripe-dark">
                        <td class="pa3">{{ user }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-success" type="submit">Add To Group</button>
    </form>
{% endblock content %}