{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Create Expense{% endblock %}

{% block content %}
<h2>Create Expense</h2>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form|crispy }}
  <button class="btn btn-success" type="submit">Create Expense</button>
</form>
{% endblock content %}
{% block extra_js %}
    <script>
        $(document).ready(function () {
            $('select[name="category"]').closest('div').append('' +
                "<button " +
                "   type=\"button\" " +
                "   class=\"btn btn-primary pull-right\"" +
                "   id=\"id_add_expense_category\"" +
                "><span><i class=\"fas fa-plus\"></i> Add Category</span>" +
                "</button>"
            );
            $('#id_add_expense_category').click(function () {
                window.location.pathname = window.location.pathname.toString().replace('create-expense', 'create-expense-category');
            })
        })
    </script>
{% endblock %}