{% extends '_base.html' %}
{% load static %}

{% block title %}Home page{% endblock title %}

{% block content %}
<h1>Home page</h1>
{% for expense in expenses %}
<div>
    <h1>
        {{expense.creator.name}}
    </h1>
</div>
{% endfor %}
    <br>
    <div>
        <button class="btn btn-primary" type="button" onclick="location.href='{% url 'create_expense' %}'">Create Expense</button>
    </div>
    <br>
    <div>
        <button class="btn btn-primary" type="button" onclick="location.href='{% url 'create_group' %}'">Create Group</button>
    </div>
{% endblock content %}