{% extends '_base.html' %}
{% load static %}

{% block title %}Home page{% endblock title %}

{% block content %}
    <h1>Hi, {{ user.first_name }} !</h1>
    <h4>Balance</h4>
    <div class="pa4">
        <div class="overflow-auto">
            <table class="f6 w-100 mw8 center" cellspacing="0">
                <thead>
                <tr class="stripe-dark">
                    <th class="fw6 tl pa3 bg-white">Name</th>
                    <th class="fw6 tl pa3 bg-white">Balance</th>
                </tr>
                </thead>
                <tbody class="lh-copy">
                {% for key, value in balance %}
                    <tr class="stripe-dark">
                        <td class="pa3">{{ key }}</td>
                        <td class="pa3">{{ value }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <br>
    <h4>Groups</h4>
    <div class="pa4">
        <div class="overflow-auto">
            <table class="f6 w-100 mw8 center" cellspacing="0">
                <thead>
                <tr class="stripe-dark">
                    <th class="fw6 tl pa3 bg-white">Name</th>
                    <th class="fw6 tl pa3 bg-white">desc.</th>
                    <th class="fw6 tl pa3 bg-white">creator</th>
                    <th class="fw6 tl pa3 bg-white"></th>
                    <th class="fw6 tl pa3 bg-white"></th>
                </tr>
                </thead>
                <tbody class="lh-copy">
                {% for id, name, desc, creator in groups %}
                    <tr class="stripe-dark">
                        <td class="pa3">{{ name }}</td>
                        <td class="pa3">{{ desc }}</td>
                        <td class="pa3">{{ creator }}</td>
                        <td class="pa3">
                            <div class="col-2">
                                <button class="btn btn-primary" type="button"
                                        onclick="location.href='{% url 'create_expense' group_id=id %}'"> Create Expense
                                </button>
                            </div>
                        </td>
                        <td class="pa3">
                            <div class="col-2">
                                <button class="btn btn-primary" type="button"
                                        onclick="location.href='{% url 'update_group' group_id=id %}'"> Add to Group
                                </button>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-2">
                <button class="btn btn-primary" type="button" onclick="location.href='{% url 'create_group' %}'">
                    Create Group
                </button>
            </div>
        </div>
    </div>

    <div class="row">
        <h4 >Friends</h4>
        <button class="btn btn-warning center" type="button" onclick="location.href='{% url 'add_friend' %}'">Add Friend</button>
    </div>



    <div class="pa4">
        <div class="overflow-auto">
            <table class="f6 w-100 mw8 center" cellspacing="0">
                <thead>
                <tr class="stripe-dark">
                    <th class="fw6 tl pa3 bg-white">Username</th>
                    <th class="fw6 tl pa3 bg-white">Full Name</th>
                    <th class="fw6 tl pa3 bg-white">Email</th>
                    <th class="fw6 tl pa3 bg-white"></th>
                    <th class="fw6 tl pa3 bg-white"></th>
                </tr>
                </thead>
                <tbody class="lh-copy">
                {% for friend in friends %}
                    <tr class="stripe-dark">
                        <td class="pa3">{{ friend.username }}</td>
                        <td class="pa3">{{ friend.first_name }} {{ friend.last_name }}</td>
                        <td class="pa3">{{ friend.email }}</td>
{#                        <td class="pa3">#}
{#                            <div class="col-2">#}
{#                                <button class="btn btn-danger" type="button"#}
{#                                        onclick="location.href='{% url 'remove_friend' %}'"> Remove friend#}
{#                                </button>#}
{#                            </div>#}
{#                        </td>#}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <br>



{% endblock content %}