{% extends '_base.html' %}
{% load static %}

{% block title %}Home page{% endblock title %}

{% block content %}
    <h1> {{ creator.first_name }}'s expenses summary </h1>

    <div class="table table-responsive">
        <table class="table table-striped table-bordered" id="expenses-summary-table">
            <thead>
            <tr>
                <th>title</th>
                <th>paid amount</th>
                <th>in debt</th>
                <th>debt amount</th>
                <th>debt attachment</th>

            </tr>
            </thead>
            <tbody>
            {% for title,debt_record in expenses.items %}
                    {% for in_debt in debt_record %}
                        <tr>
                        <td>{{ title }}</td>
                        {% for item in in_debt %}
                            {% ifnotequal forloop.counter 2 %}<td>{{ item }}</td>{% endifnotequal %}
                        {% endfor %}
                        <td class="image-cell">
                            {% if in_debt.1 %}<img
                                id="image{{ forloop.parentloop.counter }}"
                                src=""
                                data-image="{{ in_debt.1 }}"
                                height="100"
                                width="150"
                            />{% endif %}
                        </td>
                        </tr>
                    {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    </div>
    <br>

     <button class="btn btn-default" type="button" onclick="location.href='{% url 'panel' %}'">back</button>



{% endblock content %}
{% block extra_js %}
    <script>
        $(document).ready(function() {
            let all_rows_count = {{ expenses|length }};
            for(let i = 0; i < all_rows_count; i ++) {
                let image_el = $(`.image-cell #image${i + 1}`);
                let image = image_el.attr('data-image');
                if(image){
                    image_el.attr('src', window.location.origin + '/' + image)
                }
            }
        });
    </script>
{% endblock %}